@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    display: block;
    margin: 0;
    padding: 0;
    /* background-color:#eac102;*/
    background-color: #D9D9D9;
}

.sidebar {
    width: 230px;
    height: 100vh;
    /*margin: auto;*/
    background-color: #2C3E50;
    padding: 35px;
    box-shadow: 8px 0 8px #000;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #000;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #D9D9D9;
    text-decoration: none;
    box-shadow: 10px 10px 10px -1px #212F3D,
        -10px -10px 10px -1px #34495E;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.sidebar a:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.sidebar a:active {
    background-color: whitesmoke;
    color: #333;
    transform: scale(0.9);
}

.sidebar img {
    margin-bottom: 20px;
    max-width: 70%;
    height: auto;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(15px 0 8px #34495E);
}

.main-content {
    padding: 20px;
    margin-left: 305px;
}

.main-content .search .buscador .textoBuscador {
    width: 60vw;
    height: 37px;
    border: #D2973E 3px solid;
    background-color: #F1EBD8;
    border-radius: 15px;
    margin-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    color: #F1EBD8;
}

.main-content .search .buscador .botonBuscador {
    width: 150px;
    height: 43px;
    border: #05180D 3px solid;
    border-radius: 15px;
    font-size: 20px;
    background-color: #F1EBD8;
    color: #333;
}

.main-content .search .buscador .botonBuscador:hover {
    background-color: gray;
    color: #F1EBD8;
    cursor: pointer;
}

.main-content .search .buscador .botonBuscador:active {
    background-color: #F1EBD8;
    color: #333;
}

.table-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

table {
    margin-top: 20px;
    width: 75%;
    border-collapse: collapse;
}

table thead {
    background-color: #CFE2A4;

}

table tbody {
    background-color: #CFE2A4;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}






.botonCrearEquipo {
    width: 150px;
    height: 43px;
    border: gray 3px solid;
    border-radius: 15px;
    font-size: 20px;
    background-color: white;
    color: #333;
    align-self: flex-end;
}

.botonCrearEquipo:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.botonCrearEquipo:active {
    background-color: whitesmoke;
    color: #333;
}

.paginas {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.paginas input {
    align-self: center;
}

.containerBtn {
    width: 140px;
    height: 45px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #2C3E50;
    justify-content: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
        -10px -10px 10px -1px #95A5A6;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.containerBtn:hover {
    background-color: gray;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.containerBtn:active {
    background-color: whitesmoke;
    transform: scale(0.9);
}


.BtncrearPrestamos {
    display: inline-block;
    margin-right: 50px;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background-color: #2C3E50;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),
        -10px -10px 10px -1px #BFC9CA;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.BtncrearPrestamos:hover {
    background-color: gray;
    color: #000;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.BtncrearPrestamos:active {
    background-color: whitesmoke;
    transform: scale(0.9);
}

.ctn-Buscador {
    place-items: center;
    background-color: #ABB2B9;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 2px 2px 5px #000; 
    width: 350px;
    align-items: center;
}

.equiposDisponibles-buscador input {
    position: relative;
    left: 20px;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
    font-size: 15px;
}

#cajaBuscador {
    position: relative;
    left: 70px;
    margin-top: 10px;
    width: 200px;
    border: #000 1px solid;
    font-size: 15px;
}

#btnRegistrarDisponble.containerBtn {
    position: relative;
    left: 130px;
    margin-top: 15px;
}
.containerAñadirBorrar {
    display: flex;
}

.container2 {
    background-color: #ABB2B9;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 2px 2px 5px #000; 
    width: 350px;
    height: 210px;
    align-items: center;
    margin-left: 60px;
}

 #cajaPrestar {
    position: relative;
    left: 70px;
    width: 200px;
    height: 100px;
    border: #000 1px solid;
    font-size: 15px;
    
}

 #btnBorrarDisponble {
    position: relative;
    left: 200px;
    margin-top: 15px;
}

.equiposDisponibles-ctnInputFechaEntrega {
    display: flex;
    margin-top: 20px;
}

.equiposDisponibles-ctnInputFechaEntrega input {
    border-radius: 10px;
    width: 140px;
    height: 30px;
    border: none;
    padding: 5px;
    font-size: 15px;
}

.equiposDisponibles-ctnInputFechaEntrega p {
    font-size: 15px;
    margin-right: 10px;
    text-decoration: underline;
    font-weight: bolder;
}

.container2 p {
    margin-left: 15px;
}

.containerTrabajadorPrestamo  {
    display: flex;
}

.TablaTrabajadorPrestamo table {
    padding: 20px;
}
.TablaTrabajadorPrestamo table thead {   
    background-color:  #85929E;
}

.TablaTrabajadorPrestamo table tbody {   
    background-color:  #85929E;
}

.trabajadorPrestar-buscador {
    display: flex;
}

.trabajadorPrestar-buscador input {
    position: relative;
    left: 20px;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    border: none;
    padding: 5px;
    font-size: 15px;
}

#cajaTrabajador {
    position: relative;
    left: 70px;
    margin-top: 10px;
    width: 200px;
    border: #000 1px solid;
    font-size: 15px;
}

#BotonRegistroWorker {
    width: 180px;
    height: 45px;
}

.BotonesPrestamos {
    margin-top: 20px;
}